services:
    # Proxy
    proxy:
        image: jc21/nginx-proxy-manager:latest
        container_name: nginx-proxy-manager
        environment:
            - PUID={{ config_uid }}
            - PGID={{ config_gid }}
            - TZ={{ config_timezone }}
        volumes:
            - {{ com_config_path }}/proxy/data:/data
            - {{ com_config_path }}/proxy/letsencrypt:/etc/letsencrypt
        ports:
            - 81:81
            - 80:80
            - 443:443
        restart: unless-stopped

    # Dashboard
    homarr:
        image: ghcr.io/homarr-labs/homarr:latest
        container_name: homarr
        environment:
            - SECRET_ENCRYPTION_KEY={{ com_homarr_key }}
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - {{ com_config_path }}/homarr:/appdata
        ports:
            - '7575:7575'
        restart: unless-stopped

    # Auto updates docker images
    watchtower:
        image: containrrr/watchtower
        container_name: watchtower
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock